@import "s-6-768.scss";
@import "s-6-desktop.scss";

.container--s-6 {
  background-color: $bgLightgrey;
}

.title--s-6 {
  font-size: $mobTitle;
  text-align: center;
}

.title--s-6:before {
  height: rem(4);
  width: rem(16);
}

.paragraph__s-6--width {
  width: 65%;
  margin: auto;
}

.paragraph__top--s-6 {
  text-align: left;
  color: $textBlue;
  font-size: $mobPar;
  padding-left: rem(9);
  background-color: transparent;
  font-weight: 700;
}

.paragraph__bot--s-6 {
  font-size: $mobPar;
  border-top: rem(2) solid $textGrey;
  padding-bottom: 3.3rem;
}

.calendar-2 {
  background-color: #fff;
  padding: 2.38rem 0.81rem 2.38rem 0;
  box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5)

}

.times {
  display: flex;
  justify-content: space-between;
}

.day {
  font-size: 1rem;
  font-family: $fontOpenSans;
  font-weight: 700;
  width: 49%;
  text-align: right;
  background-color: $bgLightgrey;
}

.time {
  font-size: 1rem;
  font-family: $fontOpenSans;
  font-weight: 700;
  width: 49%;
  text-align: right;
  border-bottom: 1px dotted #000000;
  color: $textBlue;
}

.text-s-6 {
  margin: 0.88rem 0 1.25rem 1rem;
}

.text-s-6:last-child {
  margin-bottom: 0;
}

.box {
  padding-bottom: 3.56rem;

}

.calendar-1 {
  display: none;
}

